@charset "UTF-8";
/* CSS Document */


 /* ==========================================================================
    BASE STYLES
    ========================================================================== */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;	
}

.wrapper {
	flex: 5;	
}

.title {
	background-color: #000000;
	overflow: auto;
	flex: 1;	
	text-align: center;
}

.head {
	font-family: 'Tangerine', cursive, arial;
	font-size: 500%;
	color: #31C3EF;
	margin: 1%;
}

.container {
	padding: 1%;
}

button {
	background-color: #31C3EF;
	color: white;
	font-size: 20px;
	display: inline-block;
	border-radius: 4px;
	margin: 3px;
}


.list-group-item {
 	display: block;
 	font-size: 25px;
 }

.footer {
	background-color: #000000;
	color: #31C3EF;
	flex: 1;
	align-content: center;
}


 /* ==========================================================================
    Navagation 
    ========================================================================== */

nav {
	text-align: center;
	font-size: 1.5em;
}


nav ul {
	list-style: none;
	display: block;
	
}

nav a{
    display:inline-block;
}

 
/* ==========================================================================
    Gallery Styling
    ========================================================================== */
  
.imgLong {
	width: 60%;
	margin: 5% 0; 
 }
 
 ul li {
	list-style: none; 
 }


 
 
 /* ==========================================================================
    Contact Page Form
    ========================================================================== */
 
label {
width: 100px;
text-align: right;
margin-left: 2%;
display: inline-block
}

.submit {
margin-left: 15em;
margin-top: 2em;
} 
 
 /* ==========================================================================
    About Page Style
    ========================================================================== */ 
 
 .me {
	padding: 2% 30%;
	width: 30%;
 }
 
 .aboutMe {
	width: 60%;
	padding: 1% 15%;	 
 }
 
 
 /* ==========================================================================
    @Media 
    ========================================================================== */
	
   @media only screen and (min-width: 994px) {
	
	/* ==========================================================================
   Base Style on Larger Screen
    ========================================================================== */
	
	.wrapper {
	flex: 9;	
	}
	
	.title {
	flex: 1;	
	text-align: left;
	padding: 1% 2%; 
	}
	
	nav {
	font-size: 1.25em;
	margin: -2%;
	}
	
		
	li {
	list-style: none;
	display: inline; 
	}
	
	
	.footer {
	flex: 2;	
	padding: 1% 5%;
	}	
	
	.me {
	width: 15%;
 }

 .list-group-item {
 	display: block;
 	font-size: 20px;

 }

 .form-group {
 	margin-top: 2%;
 }

 button {
	font-size: 15px;
}
	
	
	 /* ==========================================================================
    Gallery on Larger Screen
    ========================================================================== */
	
	.imgLong {
	width: 15%; 
 }
	
	#overlay {
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none; 
	text-align: center;
 }
 
 #overlay img {
	margin-top: 5%;
	width: 30%;
 }
 
 #overlay p {
	color: white; 
 }	
	
	
   }